<nav>
    <ul>
	    <li><a href="{{ path('app_home') }}">Sonotown</a></li>

        {% if app.user %}

            {# Si l'utilisateur est admin #}

            {% if is_granted('ROLE_ADMIN') %}

                <li><a href="{{ path('admin') }}">Paramètre</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>

                    
            {% elseif is_granted('ROLE_ARTISTE')%}

            {# Si l'utilisateur est artiste #}

            <li><a href="{{ path('app_genre_musical')}}">Genres Musicaux</a></li>
            <li><a href="{{ path('app_album')}}">Albums</a></li>
            <li><a href="{{ path('app_profil')}}">Profil</a></li>  
            <li><a href="{{ path('app_logout') }}">Logout</a></li>

            {% else %}

            {# Si l'utilisateur est user #}


            <li><a href="{{ path('app_artiste')}}">Artiste</a></li>
            <li><a href="{{ path('app_genre_musical')}}">Genres Musicaux</a></li>
            <li><a href="{{ path('app_album')}}">Albums</a></li>
            <li><a href="{{ path('app_profil')}}">Profil</a></li>  
            <li><a href="{{ path('app_logout') }}">Logout</a></li>

            {% endif %}
            

            

        {% else %}
              
            <li><a href="{{ path('app_artiste')}}">Artiste</a></li>
            <li><a href="{{ path('app_genre_musical')}}">Genres Musicaux</a></li>
            <li><a href="{{ path('app_album')}}">Albums</a></li>
            <li><a href="{{ path('app_register')}}">Register</a></li>    
            <li><a href="{{ path('app_login')}}">Login</a></li>    

        {% endif %}
    </ul>
</nav>