{% extends 'base.html.twig' %}

{% block title %}Détail Album{% endblock %}

{% block body %}

<div class="artiste-container">

  <a href="{{ path('artiste_all_album_per_artiste', {'idArtiste': album.user.id}) }}">Discographie</a>


      <div class="artiste-album">

        <h1>Détail de l'album {{ album.nomAlbum}}</h1>

        <p>{{ album.description }}</p>

        <figure>
          <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ album.imageAlbum)}}" alt="">
        </figure>

        <a href="{{ path('artiste_edit_album', {'id': album.id}) }}">Edit album</a>
        <a href="{{ path('artiste_delete_album', {'id': album.id}) }}">Delete album</a>
        {% for piste in album.pistes %}

        <h2>Pistes de l'album</h2>

            Nom du morceau {{ piste.titre }}<br>
            Durée du morceau {{ piste.duree }}

        {% endfor %}
        
      </div>

</div>


{% endblock %}
