{% extends 'base.html.twig' %}

{% block title %}Détail Album{% endblock %}

{% block body %}

<section class="artiste padding-9">

  {% include "artiste_page/page/_header.html.twig" %}

  <div class="artiste-album">

        <h1>Détail de l'album {{ album.nomAlbum}}</h1>

        <p>{{ album.description }}</p>

        <figure>
          <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ album.imageAlbum)}}" alt="">
        </figure>

        {% if album.user == app.user %}
        <a href="{{ path('album_edit', {'slug': user.slug, 'albumId': album.id}) }}">Edit album</a>
        <a href="{{ path('album_delete', {'slug': user.slug, 'albumId': album.id}) }}">Delete album</a>
        {% endif %}
        {% for piste in album.pistes %}

        {% if piste.audio != '' %}
          
        <h2>Pistes de l'album</h2>


        <div class="artiste-piste">

          Nom du morceau {{ piste.titre }}<br>
          Durée du morceau {{ piste.duree }}
          <div>
            <input type="range" id="track" min="0" value="0">
            <span id="elapsed">0:00</span> / <span id="track-time">1:00</span>
          </div>
          {# {{ dump(piste.audio)}} #}
          <div>
            <audio src="{{ asset('uploads/audios/' ~ piste.audio)}}"></audio>
  
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20px" height="20px" id="play-button"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/ ></svg>
  
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20px" height="20px" id="pause-button"><path d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"/></svg>
  
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20px" height="20px" id="stop-button"><path d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"/></svg>
          </div>
          <div>
            <input type="range" id="volume" min="0" max="1" value="1" step="0.1">
            <span id="volume-value">100%</span>
          </div>

        </div>
        
        {% endif %}

        {% endfor %}



        

    </div>

</section>

{# Player multiple #}

<div class="player">
 
  <!-- Define the section for displaying details -->
  <div class="details">
    <div class="now-playing">PLAYING x OF y</div>
    <div class="track-art"></div>
    <div class="track-name">Track Name</div>
    <div class="track-artist">Track Artist</div>
  </div>

  <!-- Define the section for displaying track buttons -->
  <div class="buttons">
    <div class="prev-track" onclick="prevTrack()">
      <i class="fa fa-step-backward fa-2x"></i>
    </div>
    <div class="playpause-track" onclick="playpauseTrack()">
      <i class="fa fa-play-circle fa-5x"></i>
    </div>
    <div class="next-track" onclick="nextTrack()">
      <i class="fa fa-step-forward fa-2x"></i>
    </div>
  </div>

  <!-- Define the section for displaying the seek slider-->
  <div class="slider_container">
    <div class="current-time">00:00</div>
    <input type="range" min="1" max="100"
      value="0" class="seek_slider" onchange="seekTo()">
    <div class="total-duration">00:00</div>
  </div>

  <!-- Define the section for displaying the volume slider-->
  <div class="slider_container">
    <i class="fa fa-volume-down"></i>
    <input type="range" min="1" max="100"
      value="99" class="volume_slider" onchange="setVolume()">
    <i class="fa fa-volume-up"></i>
  </div>
</div>




<script>
  
  let tracks_list = [];

</script>


{% for piste in album.pistes %}

<script>
  
  tracks_list.push( 
      {
        name: "{{ piste.titre }}",
        path: "{{ asset('uploads/audios/' ~ piste.audio)}}"
      });
      console.log(tracks_list);
      
</script>
{# {{ dump(titre)}} #}

{% endfor %}
  

{% endblock %}