{% extends 'base.html.twig' %}

{% block title %}Détail Album{% endblock %}

{% block body %}

<section class="artiste padding-9">

  {% include "artiste_page/page/_header.html.twig" %}

  <div class="artiste-album">

        <h1>Détail de l'album {{ album.nomAlbum}}</h1>

        <p>{{ album.description }}</p>

        <figure>
          <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ album.imageAlbum)}}" alt="">
        </figure>

        {% if album.user == app.user %}
        <a href="{{ path('album_edit', {'slug': user.slug, 'albumId': album.id}) }}">Edit album</a>
        <a href="{{ path('album_delete', {'slug': user.slug, 'albumId': album.id}) }}">Delete album</a>
        {% endif %}
        {% for piste in album.pistes %}

        <h2>Pistes de l'album</h2>

            Nom du morceau {{ piste.titre }}<br>
            Durée du morceau {{ piste.duree }}

            {# {{ dump(piste.audio) }} #}

            <audio controls src="{{ asset('uploads/audios/' ~ piste.audio)}}"></audio>

        {% endfor %}
        

    </div>

</section>


{% endblock %}
