{% extends 'base.html.twig' %}

{% block title %}Album ajout{% endblock %}

{% block body %}

<section class="padding-9">

    {% if edit %}
    <h1>Editer l'album</h1>
    {% else %}
    <h1>Créer un nouvel album</h1>
    {% endif %}
    
    {{ form_start(form) }}

        {{ form_row(form.nomAlbum) }}
        {{ form_row(form.description) }}
        {{ form_label(form.photo, 'Télécharge une photo d\'album') }}
        {{ form_widget(form.photo) }}
        
        {{ form_row(form.dateSortieAlbum) }}
        {{ form_row(form.nbPistes) }}

        {{ form_row(form.pistes) }}

        {% for piste in form.pistes %}
            
            {# {{ piste.titre }} #}

        {% endfor %}

        <div class="form-group">
            <label for="genreMusicals" class="control-label">Genres musicaux</label>
            <div id="genreMusicals" class="collection">
                {{ form_errors(form.genreMusicals) }}
                {{ form_widget(form.genreMusicals) }}
            </div>
        </div>

        {{ form_row(form.valider) }}
        
    {{ form_end(form) }}

    

</section>



{% endblock %}
