{% extends 'base.html.twig' %}

{% block title %}    {% if edit %}
<h1>Editer l'album</h1>
{% else %}
<h1>Créer un nouvel album</h1>
{% endif %}{% endblock %}

{% block body %}

<section class="padding-9">

    {% if edit %}
    <h1>Editer l'album</h1>
    {% else %}
    <h1>Créer un nouvel album</h1>
    {% endif %}
    
    {{ form_start(form) }}

        {{ form_row(form.nomAlbum) }}
        {{ form_row(form.description) }}
        {{ form_label(form.photo, 'Télécharge une photo d\'album') }}
        {{ form_widget(form.photo) }}
        
        {{ form_row(form.dateSortieAlbum) }}
        {{ form_row(form.nbPistes) }}

        <div class="form-group">
            <label for="genreMusicals" class="control-label">Genres musicaux</label>
            <div id="genreMusicals" class="collection">
                {{ form_errors(form.genreMusicals) }}
                {{ form_widget(form.genreMusicals) }}
            </div>
        </div>
        <h3>Sites</h3>
        <h2>Programme de la session :</h2>
  
        <div id="formulaire">
            <div class="form-group row form-piste">
                <div class="col-form-label col-sm-2">&nbsp;</div>
                {# &nbsp; : espace insécable (espace qui ne peut être ignoré par navigateur) #}
                <div id="piste-fields-list" class="col-sm-10 remove-collection-widget"
                    data-prototype="{{ form_widget(form.pistes.vars.prototype)|e }}"
  
                    {# Modèle type #}
                    data-album="{{albumId}}"
  
                    data-widget-tags="{{ '<p></p>'|e }}"
                    {# chaque champ tags placés dans paragraphe #}
                    data-widget-counter="{{ form.pistes|length }}">
                    
                    {# compteur champ #}
                {% for pisteField in form.pistes %}
                    <p>
                        {{ form_errors(pisteField) }}
                        {# Affiche erreur éventuels liées au champ #}
                        {{ form_widget(pisteField, {'attr': {'class': 'borders'}}) }}
                        {# Affiche widget du champ formulaire avec classe CSS #}
                    </p>
                {% endfor %}
                </div>
            </div>
            <div class="form-group row flex-action">
                <button type="button" 
                    class="add-another-collection-widget button  btn btn-secondary"
                    {# crée nouveau bouton add #}
                    data-list-selector="#piste-fields-list">Ajouter un nouveau module</button>
                    {# Attribut données contenant sélecteur liste associé au bouton (j.s) #}
            </div> 
        </div>
        {# empêche l'apparition d'une légende "reseaus", si la collection est vide (en cas de création d'une nouvelle session) #}
        {% do form.pistes.setRendered %}
        <div id="validate">{{ form_row(form.valider) }}</div>

        {{ form_row(form._token) }}
        {{ form_end(form) }}
    

</section>



{% endblock %}
