{% extends 'base.html.twig' %}

{% block title %}Liste des concerts{% endblock %}

{% block body %}

    <h1>{{ concert.lieu }}</h1>

    {{ concert.descriptionConcert }} <br>



    {% for imageConcert in concert.imageConcerts %}

        <img src="{{ asset('uploads/Concerts/mini/300x300-') ~ imageConcert.nomImage }}">
        
    {% endfor %}
    <br>
    <a href="{{ path('edit_concert', {'id': concert.id}) }}">Editer concert</a><br>
    <a href="{{ path('delete_concert', {'id': concert.id}) }}">Delete concert</a>


{% endblock %}
