{% extends 'base.html.twig' %}

{% block title %}Home Sonotown{% endblock %}

{% block body %}


<section id="home-hero">
    
        <video autoplay loop muted plays-inline id="back-video">
                <source src="{{ asset('video/video.mp4') }}" type="video/mp4">
        </video>
    
        <div id="home-hero-logo">
    
            <h1>Sonotown</h1>
    
            <p>Le site qui te permet de découvrir des musiciens indépendants</p>
    
            <a href="#home-infos">En savoir plus</a>
            
        </div>

</section>

<section id="home-artiste" class="padding-6">

    <h2>Les nouveaux artistes</h2>

    <div id="home-artiste-content">

        {% for user in users %}

            <div class="artiste-card">

                <div class="card-image">

                    <figure>
                        <a href="{{ path('artiste_page', {'slug': user.slug}) }}">
                        <img src="{{asset('uploads/images/' ~ user.avatar)}}"  alt="{{ user.nomArtiste }}">
                        </a>

                    </figure>

                    <h3>{{ user.nomArtiste }}</h3>
    
                </div>

                <div class="card-separation"></div>


                <div class="card-header">

                    <div class="card-ligne"><span>Followers</span><span>{{ user.followers | length }}</span></div>
    
                    <div class="card-ligne"><span>Follows</span><span>{{ user.follows | length }}</span></div>

                </div>

            </div>

        {% endfor %}

    </div>

</section>

    {# Section les meilleurs albums #}

{% include "home/carrousel.html.twig" %}


<section id="home-info" class="padding-6">

    <h6>Qui sommes-nous ?</h6>

    <div id="home-info-container">

        <figure>
            <img src="{{ asset('images/synthesizer.jpg')}}" alt="Synthétiseur">
        </figure>
    
        <div id="home-info-text">
    
            <h7>Explication du site</h7>
        
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa aspernatur qui at, doloremque error consequuntur cum itaque labore excepturi vel, repudiandae ad sint quia ex molestiae modi accusantium, recusandae hic!</p>
    
        </div>

    </div>

</section>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}