{% extends 'base.html.twig' %}

{% block title %}Créer un concert{% endblock %}

{% block body %}

<section class="padding-9">

    {% if edit %}
        <h1>Editer le concert</h1>
    {% else %}
        <h1>Créer un concert</h1>
    {% endif %}

    {{ form_start(form) }}

        {{ form_row(form.lieu) }}
        {{ form_row(form.dateConcert) }}
        {{ form_row(form.descriptionConcert) }}

        <h2>Images du concert</h2>

        {% if edit %}

            {% for imageConcert in concert.imageConcerts %}

                <div class="concert-image">

                    <figure>

                        <img src="{{ asset('uploads/Concerts/mini/300x300-' ~ imageConcert.nomImage ) }}" alt="{{imageConcert.nomImage}}" width="150">

                        <a href="{{ path('delete_image', {'id': imageConcert.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ imageConcert.id) }}">Supprimer image</a> 
                    </figure>

                    {# <a href="" data-delete data-token="{{ csrf_token('delete' ~ imageConcert.id) }}">Supprimer image</a>  #}

                    {# Supprimer#}

                    {# data-delete 
                        data-token : verifier qu'on vient bien de notre formulaire
                        csrf_token : pour être sûr que notre delete vient bien de notre formulaire  
                        Ca va generer un token de securit qui permettre dans notre controller de vérifier que le formulaire est bien valide #}

                </div>
                
            {% endfor %}

        {% else %}

        {% endif %}

    {{ form_end(form) }}

</section>

{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('js/image.js') }}" defer></script> #}
{% endblock %}
