{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}

<div class="artiste-container">

  <h1>Page de l'artiste</h1>

      <div class="artiste-album">

        <h2>Discographie artiste</h2>

        <a href="{{ path('artiste_show_album', {'id': user.id}) }}">Discographie</a>

      </div>

      <div class="artiste-concert">

      <h3>Concert</h3>

        <a href="{{ path('show_concert', {'id': user.id}) }}">Voir les concerts</a><br>

      </div>

      <div class="artiste-post">


      <h4>Posts</h4>

      <a href="{{ path('new_post') }}">Nouveau post</a><br>

      {% for post in posts %}

      <a href="{{ path('show_post', {'id': post.id}) }}">{{ post.message }}</a><br>
      <a href="{{ path('edit_post', {'id': post.id}) }}">Éditer post</a><br>
      <a href="{{ path('delete_post', {'id': post.id}) }}">delete post</a><br>

      {% endfor %}

      </div>


      <div class="artiste-header">

        <h1>{{ user.pseudo}}</h1>

        <p>{{ user.biographie}}</p>
        
      </div>

</div>

{% endblock %}
