{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}{% endblock %}

{% block body %}

<div class="artiste-container">

      <div class="artiste-album">

        <h2>Discographie</h2>

        {% if app.user == user %}

          <a href="{{ path('new_album') }}">Ajouter un nouvel album</a>
          
        {% endif %}

        {% for album in albums %}

        <a href="{{ path('show_album', {'id': album.id}) }}">{{ album.nomAlbum}}</a>

        {% if app.user == user %}

        <a href="{{ path('edit_album', {'id': album.id}) }}">Éditer album</a>
        <a href="{{ path('delete_album', {'id': album.id}) }}">delete album</a>
        
        {% endif %}

        {% endfor %}

      </div>

      <div class="artiste-concert">


      <h3>Concert</h3>

      <a href="{{ path('show_concert', {'id': user.id}) }}">Voir les concerts</a><br>

    </div>


      <div class="artiste-post">


      <h4>Posts</h4>

      <a href="{{ path('new_post') }}">Nouveau post</a><br>

      {% for post in posts %}

      <a href="{{ path('show_post', {'id': post.id}) }}">{{ post.message }}</a><br>
      <a href="{{ path('edit_post', {'id': post.id}) }}">Éditer post</a><br>
      <a href="{{ path('delete_post', {'id': post.id}) }}">delete post</a><br>

      {% endfor %}

      </div>


      <div class="artiste-header">

        <h1>{{ user.pseudo}}</h1>

        <p>{{ user.biographie}}</p>
        
      </div>

</div>

{% endblock %}
