{% extends 'base.html.twig' %}

{% block title %}Modifier Artiste{% endblock %}

{% block body %}

<section class="padding-9">

  {% if edit %}

    <h1>Modifier page artiste</h1>

    {% else %}

  {% endif %}

  {# <a href="{{ path('new_site')}}">Ajouter un site</a> #}
  
    {{ form_start(formEdit) }}



      {{ form_label(formEdit.avatar, 'Télécharge une photo de profil') }}
      {{ form_widget(formEdit.avatar) }}
      {{ form_row(formEdit.pseudo) }}
      {{ form_row(formEdit.nomArtiste) }}
  
      {{ form_row(formEdit.dateCreationGroupe) }}
      {{ form_row(formEdit.biographie) }}

      {# {{ form_row(formEdit.sites) }} #}

      {# {% for site in formEdit.sites %}
        {{ site.}}
      {% endfor %} #}

      {{ form_row(formEdit.valider) }}
    {{ form_end(formEdit) }}

    {# {% include "artiste_page/page/_form_site.html.twig" %} #}

</section>



{% endblock %}
