{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}

{# {% if is_granted('ROLE_ARTISTE') %} #}
{# <a href="{{ path('artiste_page_edit', {'id': app.user.id}) }}">Éditer le profil artiste</a> #}
  
{# {% endif %} #}


<div class="artiste-container">
    <div class="artiste-header">
      <div class="artiste-couverture">
          <figure>
              <img src="{{asset('uploads/images/' ~ user.imageCouverture)}}" alt="">
          </figure>
      </div>
      <div class="artiste-aside">
          <figure>
              <img src="{{asset('uploads/images/' ~ user.avatar)}}" alt="">
          </figure>
          <h1>{{ user.pseudo }}</h1>
      </div>
    </div>
    <div class="artiste-main">
      
      <div class="artiste-liens">
        <div class="artiste-album">
          <a href="{{ path('artiste_all_album_per_artiste', {'idArtiste': user.id}) }}">Discographie</a>
        </div>
        <div class="artiste-concert">
          <a href="{{ path('all_concert_per_artiste', {'id': user.id}) }}">Concerts</a>
        </div>
      </div>
      
      <div id="artiste-biographie">

        <h3>Date création groupe</h3>
        <p>{{ user.dateCreationGroupe | date("m/d/Y")}}</p>

        <h2>Biographie</h2>
        <p>{{ user.biographie}}</p>
      </div>

      <div class="artiste-avis">
        
        <h4>Avis</h4>

        {% for commentaire in user.commentaires %}
          {{ commentaire.message }}
        {% endfor %}

      </div>

  </div>
</div>


{% endblock %}
