<div class="artiste-container">

    <div class="artiste-header">

        {# Artiste-container gauche #}

        <div class="artiste-couverture">

            <h1>{{ user.pseudo }}</h1>

            <h2>Biographie</h2>

            <p>{{ user.biographie}}</p>

            <div id="artiste-link">

                <div class="btn-suivre">
                    <a href="">Suivre</a>
                    </div>
                    <div class="artiste-page-link">
                    <a href="{{ path('artiste_all_album_per_artiste', {'idArtiste': user.id}) }}">Albums</a>
                    <a href="{{ path('all_concert_per_artiste', {'id': user.id}) }}">Concerts</a>
                </div>
            </div>

        </div> 

        
        <div class="artiste-aside">

        
        {% if is_granted('ROLE_ARTISTE') %} 

        <div class="edit-artiste">

        <a href="{{ path('artiste_page_edit', {'id': app.user.id}) }}">Éditer le profil artiste</a>

        </div>
        
        {% endif %}

        <figure class="avatar">
            <img src="{{asset('uploads/images/' ~ user.avatar)}}" alt="">
        </figure>
        <div class="artiste-reseau">
            <a href=""><img src="{{ asset('images/facebook-f.svg')}}" alt=""></a>
            <a href=""><img src="{{ asset('images/twitter.svg')}}" alt=""></a>
            <a href=""><img src="{{ asset('images/spotify.svg')}}" alt=""></a>
        </div>
        </div>

    </div>

    <div class="artiste-main">
        
        <div class="artiste-liens">
        <div class="artiste-album">
        </div>
        <div class="artiste-concert">
        </div>
        </div>
        
        <div id="artiste-biographie">

        </div>
        
    </div>
</div>