{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}

{# {% if is_granted('ROLE_ARTISTE') %} #}
{# <a href="{{ path('artiste_page_edit', {'id': app.user.id}) }}">Éditer le profil artiste</a> #}
  
{# {% endif %} #}


<div class="artiste-container">

  <div class="artiste-header">
      <figure>
        <img src="{{asset('uploads/images/' ~ user.imageCouverture)}}" alt="">
      </figure>

      <div class="artiste-aside">
        
        <div class="artiste-liens">
          <div class="artiste-album">
            <a href="{{ path('artiste_all_album_per_artiste', {'idArtiste': user.id}) }}">Discographie artiste</a>
          </div>
          <div class="artiste-concert">
            <a href="{{ path('all_concert_per_artiste', {'id': user.id}) }}">Concerts artiste</a>
          </div>
        </div>
        <div class="artiste-figure">

          <figure>
              <img src="{{asset('uploads/images/' ~ user.avatar)}}" alt="">
          </figure>
  
          <h1>{{ user.pseudo }}</h1>

        </div>

      </div>
  </div>


  <div class="artiste-main">


    <h2>Biographie</h2>
    <p>{{ user.biographie}}</p>

    
    <div class="artiste-avis">
      
      <h4>Avis</h4>
      
    </div>
  </div>

  </div>
</div>
</div>

{% endblock %}
