{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}


<section class="artiste padding-9">

  {% include "artiste_page/page/_header.html.twig" %}

  <div class="artiste-main">
      
      
    {% for commentaire in user.commentaires %}
    
    {# {{ dump(commentaire.message)}} #}

      {{ commentaire.commenter.pseudo}}
        {{ commentaire.dateCreation | date("m/d/Y")}} <br>
        {{ commentaire.message}}<br>

        <div class="artiste-commentaire">
  
        <form id="new-commentaire" action='{{ path('new_commentaire', {'userId': app.user.id, 'userCommentId': user.id } ) }}' method="post">
    
          <label for="message"></label>
  
            <p>{{  commentaire.repondre }}</p>
  
            <input type="text" name="message" >
  
          <input type="submit" value="Valider">
  
        </form> 
      {% endfor %}

    </div>

  </section>

{% endblock %}
