{% extends 'base.html.twig' %}

  {% block title %}Page de l'artiste{% endblock %}

{% block body %}

<section class="artiste padding-9">

  {% include "artiste_page/page/_header.html.twig" %}

  <div class="artiste-main">
      
    <div id="commentaire-container">

      <div id="commentaire-header">

        <h3>Commentaires</h3>

      </div>
      
      {% for commentaire in commentaires %}
      
      <div class="commentaire-post">

        <div class="post-title">

          {# Si l'utilisateur ayant écrit le commentaire à encore un compte #}
          {% if commentaire.commenter %}

              <span>{{ commentaire.commenter.pseudo }}</span> 
          
          {% else %}

              <span>Utilisateur supprimé</span>
            
          {% endif %}

            <span>{{ commentaire.dateCreation | date("m/d/Y")}} </span>
          {% if commentaire.commenter == null %}
  
          {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_ARTISTE') and app.user.id == commentaire.repondre.id %}

            <a href="{{ path('delete_commentaire', {'userId': user.id, 'commentaireId': commentaire.id}) }}">Supprimer</a>
            
          {% elseif commentaire.commenter is not null and commentaire.commenter.id == app.user.id %}

            <a href="{{ path('delete_commentaire', {'userId': user.id, 'commentaireId': commentaire.id}) }}">Supprimer</a>

          {% endif %}

          {# Si le commentaire a été banni #}

          <div class="ban">

            {% if commentaire.ban == false and commentaire.commenter is not null %}
            
            <a href="{{ path('ban_commentaire', {'commentaireId': commentaire.id}) }}">Ban</a>

            {% elseif commentaire.ban == true and is_granted('ROLE_ADMIN') or is_granted('ROLE_ARTISTE') and user.id == commentaire.repondre.id %}
  
            <a href="{{ path('unban_commentaire', {'commentaireId': commentaire.id}) }}">Unban</a>
            
            {% endif %}

          </div>

        </div>

        <div class="post-text">

          {% if commentaire.ban == true %}
            
          <p>Commentaire supprimé ou ayant enfreint les règles.</p>

          {% else %}
            
          <p>{{ commentaire.message}}</p>

          {% endif %}

        </div>
          
      </div>

        {% endfor %}


      <div id="commentaire-form">

        <h4>Ecrire un commentaire</h4>

        <form id="new-commentaire" action='{{ path('new_commentaire', {'userId': app.user.id, 'artisteId': user.id } ) }}' method="post">
    
          <label for="message"></label>
    
            <input type="textarea" name="message" >
    
          <input type="submit" value="Valider">
    
        </form> 

      </div>

    </div>




    </div>

</section>

{% endblock %}