{% extends 'base.html.twig' %}

{% block title %}Liste des concerts{% endblock %}

{% block body %}

    <h1>Liste des concerts de </h1>

    <a href="{{ path('new_concert') }}">Nouveau concert</a><br>

    {% for concert in concerts %}


        {{ concert.descriptionConcert }}
        {{ concert.lieu }}
        {{ concert.user.pseudo }}
        <a href="{{ path('edit_concert', {'id': concert.id}) }}">Éditer concert</a>
        <a href="{{ path('delete_concert', {'id': concert.id}) }}">delete concert</a><br>

    {% endfor %}

          


{% endblock %}
