{% extends 'base.html.twig' %}

  {% block title %}Albums{% endblock %}

{% block body %}

{% include "user_page/profil/_header.html.twig" %}

<div id="user-album">

  <div id="album-title">
      
    <h1>Liste d'albums</h1>  

    <div id="album-cards">

      {% for aimerAlbum in user.aimerAlbums %}

        <div class="album-card">

          <figure>

            <img src="{{asset('uploads/images/' ~ aimerAlbum.imageAlbum)}}" alt="pochette de l'album {{ aimerAlbum.nomAlbum }} de l'artiste {{ aimerAlbum.user.nomArtiste }}">

          </figure>

          {% if is_granted('ROLE_USER') and app.user.id == user.id %} 

          {# aria-label : attribut HTML qui fournit un texte alternatif pour les utilisateurs d'outils d'assistance tels que les lecteurs d'écran. #}
          
            <a aria-label="album-remove" class="album-remove" href="{{ path('unlike_album', {'userId': user.id, 'albumId': aimerAlbum.id})}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20px" height="20px"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" fill='#fff'/></svg></a>

          {% endif %}

          <span>{{ aimerAlbum.nomAlbum }}</span>

        </div>

      {% endfor %}


    </div>

  </div>

</div>


    
{% endblock %}