{% extends 'base.html.twig' %}

{% block title %}Page de recherche{% endblock %}

{% block body %}

<section class="search-page padding-9">

    <h2>Page de recherche</h2>

    <div id="search-page-search-zone">

        <div id="search-page-input">

            <form id="filters">


            {# On parcours le tableau des genres musicaux #}
            {% for genreMusical in genreMusicals %}

                {# On crée un input de type checkbox pour les choisir les genres musicaux #}
                {# on indique dans name que genreMusicals est un tableau #}
                {# On attribut l'id du genre à id de l'input #}

                <p><input type="checkbox" name="genreMuscials[]" id="genre{{genreMusical.id}}" value="{{genreMusical.id}}">
                <label for="{{genreMusical.id}}">{{genreMusical.nomGenreMusical}}</label></p>
                {# <input type="submit" > #}

            {% endfor %}
                
            </form>

            
        </div>
        
    </div>


    {# </div>
    <div id="search-page-genreMusical">

    </div>
    <div id="search-page-submit"> #}

    <div id="search-page-result-zone">

        <h3>Résultats</h3>

        <div id="search-page-result-search">

            {# {% for genreMusical in genreMusicals %}

                {{ genreMusical.nomGenreMusical }}

                {% for album in genreMusical.albums %}
                    {# <p>{{ album.genreMusicals}}</p> #}
                    {# <p>{{ album.nomAlbum }}</p> #}
                {# {% endfor %}


            {% endfor %}  #}

            {% for album in albums %}
                <p>{{ album.nomAlbum }}</p>
            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('js/filters.js') }}"></script>

    
{% endblock %}
