{% extends 'base.html.twig' %}

{% block title %}Album ajout{% endblock %}

{% block body %}

        {% if edit %}
        <h1>Editer un album</h1>
        {% else %}
        <h1>Créer un nouvel album</h1>
        {% endif %}

        {{ form_start(form) }}
        {{ form_row(form.nomAlbum) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageAlbum) }}
        {{ form_row(form.dateSortieAlbum) }}
        {{ form_row(form.nbPistes) }}
        <div id="genreMusicals" data-prototype="{{ form_widget(form.genreMusicals.vars.prototype)|e }}">
            {% for genreForm in form.genreMusicals %}
                {{ form_row(genreForm) }}
            {% endfor %}
        </div>
        {{ form_row(form.user) }}
        {{ form_row(form.pistes) }}
        {{ form_row(form.valider) }}
    {{ form_end(form) }}
{% endblock %}
