{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}

<a href="{{ path('artiste_edit_profil', {'id': app.user.id}) }}">Éditer le profil artiste</a>


<div class="artiste-container">

  <h1>Page de l'artiste</h1>

      <div class="artiste-album">
        
        <h2>Discographie artiste</h2>

        <a href="{{ path('artiste_all_album_per_artiste', {'id': user.id}) }}">Discographie</a>

      </div>

      <div class="artiste-concert">

      <h3>Concerts</h3>
      
      <a href="{{ path('all_concert_per_artiste', {'id': user.id}) }}">Voir concert</a><br>

      </div>

      <div class="artiste-post">

      <h4>Posts</h4>

      <a href="{{ path('new_post') }}">Nouveau post</a><br>

      {# {% for post in posts %}

      <a href="{{ path('show_post', {'id': post.id}) }}">{{ post.message }}</a><br>
      <a href="{{ path('edit_post', {'id': post.id}) }}">Éditer post</a><br>
      <a href="{{ path('delete_post', {'id': post.id}) }}">delete post</a><br>

      {% endfor %} #}

      </div>

      {% include "artiste/page/header.html.twig" %}


</div>

{% endblock %}
