{% extends 'base.html.twig' %}

{% block title %}Détail Album{% endblock %}

{% block body %}

<div class="artiste-container">


      <div class="artiste-album">


        <h3>{{ album.nomAlbum}}</h3>

        {{ album.description }}

        <figure>
          <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ album.imageAlbum)}}" alt="">
        </figure>
        {# {{ album.}} #}

        {% for piste in album.pistes %}

            {{ piste.titre }}
            {{ piste.duree }}

        {% endfor %}
        
      </div>

</div>


{% endblock %}
